body{
    margin-top: 10%;
    margin-left: 50%;
}

#pokemon{
    background-color: #e97000;
    width: 150px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 7px 29px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 29px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 7px 29px -8px rgba(0,0,0,0.75);
}

#pokemon .content img{
    width: 50%;
    margin-left: 25%;
    border-radius: 50px;
    border:  solid 1px #aeaeae;
}

#pokemon .content div:nth-child(2) {
    text-align: center;
    font-family: Helvetica;
    color: #FFF;
}

#pokemon .content div:nth-child(3) {
    text-align: center;
    font-family: Helvetica;
    color: #FFF;
}
